<h1><%= post.id %>: <%= post.title %></h2>
<div id="body-<%= post.id %>"><%= truncate post.description %></div>

<button class="js-more", data-id="<%= post.id %>">More...</button>
<!-- provide button for each post to request body
     tied to each post to know the post's body being requested
     make use of post.id -->
